@charset "UFT-8";

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #181818;
    display: block;
    margin: 0;
    padding: 0;
}

main {
    background-color: #101010;
    text-align: justify;
    color: #ffffff;
    font-size: 16px;
    width: 1050px;
    padding: 15px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
  }

.img-soniccd {
    float: right;
    margin-left: 15px;
}

.conteudos-sessao {
    background-color: #000000;
    width: fit-content;
    padding: 15px;
}

ol.a {
    list-style: none;
}

ol.a-b {
    list-style: none;
}

ol.b {
    list-style: none;
}

ol.c {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #7fffd4;
}

.img-title-screen {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-palmtree-panic {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-collision-chaos {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-tidal-tempest {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-quartz-quadrant {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-wacky-workbench {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-stardust-speedway {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-metallic-madness {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-cd-sonic {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 448px;
    display: block;
}

.img-sp-cdsonic {
    float: right;
    margin-left: 15px;
}

.column {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

ul li {
    padding-left: 5px;
    margin-bottom: 0.5em;
    line-height: 150%;
}

figcaption {
    text-align: center;
}

.lvl-select-soniccd {
    float: right;
    margin-left: 15px;
}

.footer {
    background-color: #000000;
    padding: 10px;
}

.footer-top {
    text-align: center;
    margin: 20px;
}

.footer-top a {
    text-align: center;
    margin: 10px;
}

.footer-middle {
    text-align: center;
    color: #ffffff;
}

.footer-bottom {
    text-align: center;
    color: #ffffff;    
}